<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <title>Fiche frais</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <h2 class="navbar-brand" th:href="@{/acceuil}">
            GSB Visite
        </h2>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a  class="nav-link" th:href="@{/acceuil}">Acceuil</a></fr></a>
                </li>
                <li class="nav-item-right">
                    <form th:action="@{/logout}" method="post" >
                        <button type="submit" value="Deconnectez-vous" class="btn btn-primary float-righ" style="margin-left: 1200px;">Quitter !</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="row g-2" style="margin-top: 30px;">
        <div class="col-md">
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInputGrid" placeholder="959AB">
                <label for="floatingInputGrid">Saisir l'id de la fiche de frais</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <select class="form-select" id="floatingSelectGrid" aria-label="Cliquer pour dérouler les actions">
                    <option value="1">Créer une fiche de frais</option>
                    <option value="2">Afficher fiche frais</option>
                    <option value="3">Modifier fiche frais</option>
                    <option value="4">Suivre fiche frais</option>
                </select>
                <label for="floatingSelectGrid">Selectioner l'action à effectuer</label>
            </div>
        </div>
    </div>
</body>
</html>